<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button role="button" aria-pressed="false" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">FHIR App - Test</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a routerLinkActive="active" routerLink="/questionnaire">Questionnaire</a></li>
          <!-- <li><a routerLinkActive="active" routerLink="/patients">Patients</a></li> -->
        </ul>
      </div>
    </div>
  </nav>