<div class="col-sm-offset-3 col-sm-6">
    <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
  
      <div *ngFor="let question of questions.item" class="form-row">
        <app-question *ngIf="question.type!=='group'" [question]="question" [form]="form"></app-question> 
        <ng-container *ngIf="question.type==='group'">
            <label [attr.for]="question.linkId" class="form-label">{{question.text}}</label>
            <div *ngFor="let nestedQuestion of question.item" class="col-xs-offset-1">
                <app-question [question]="nestedQuestion" [form]="form"></app-question> 
            </div>
        </ng-container>
      </div>
      <div class="form-row">
        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Save</button>
        <button class="btn btn-secondary ml-10" type="reset">Reset</button>
      </div>
    </form>
</div>
