.card{
    border-bottom: solid 1px #ccc;
    padding:10px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid #e3e3e3;
    margin-top:30px;

    .answer{
        text-transform: capitalize;
        color:#0075ff;
    }

    .table {
        margin-bottom: 0px;
    }
}