<div *ngIf="response" class="table-responsive card media">
    <table class="table">
        <tr>
            <td>Identifier : </td>
            <td class="answer">{{response.id}}</td>
        </tr>
        <tr>
            <td>Status : </td>
            <td class="answer">{{response.status}}</td>
        </tr>
        <tr>
            <td>Subject : </td>
            <td class="answer">{{response.subject}}</td>
        </tr>
        <tr>
            <td>Author : </td>
            <td class="answer">{{response.author}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <div *ngFor="let questions of response.item">
                    <div *ngIf = "questions.type!=='group'">
                        <span>{{questions.text}}</span> : <span class="answer">{{questions.answer==='true' || questions.answer===true ? 'Yes': questions.answer==='false' || questions.answer===false ? 'No' : questions.answer}}</span>
                    </div>
                    <div *ngIf = "questions.type==='group'">
                        <label>{{questions.text}}</label>
                        <div *ngFor="let innerQuestion of questions.item" class="col-xs-offset-1">
                            <span>{{innerQuestion.text}}</span> : <span class="answer">{{innerQuestion.answer===true || innerQuestion.answer==='true' ? 'Yes': innerQuestion.answer===false || innerQuestion.answer==='false' ? 'No' : innerQuestion.answer}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>